<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<link rel="stylesheet" type="text/css" href="../styles/stylePrijavnica.css">
	<link rel="icon" type="image/x-icon" href="../assets/Pes_FAVI.ico">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<title>Pet Adoption</title>
</head>
<body style="background-image: url(../assets/ozadje1.jpg);">
	<div class="glava">
		<h1>Prijavnica za posvojitev psička</h1>
	</div>
	<div class="okvir">
		<div>
			<form method="POST" style="padding-top: 20px;" onsubmit="return formatAndValidatePhone()" class="formaInput">
				<h2>VAŠI PODATKI</h2>
				<div class="forumOkvir">
					<div id="premikImePriimek">
						<label class="imePriimekLabel">IME:</label>
						<input type="text" name="Ime" placeholder="Marko" class="stiliInput" id="imeInput" maxlength="20">
					</div>
					<div id="premikImePriimek">
						<label  class="imePriimekLabel">PRIIMEK:</label>
						<input type="text" name="Priimek" placeholder="Pipan" class="stiliInput" id="priimekInput" maxlength="20">
					</div>
				</div>

				<div class="forumOkvir">
					<div id="">
						<label class="imePriimekLabel">KRAJ ROJSTVA:</label>
						<select name="kRoj" class="stiliInput" id="selectRoj">
							<option value="0">Izberi</option>
							<option value="Ljubljana">Ljubljana</option>
							<option value="Maribor">Maribor</option>
							<option value="Šempeter">Šempeter</option>
							<option value="Jesenice">Jesenice</option>
							<option value="Izola">Izola</option>
							<option value="Novo Mesto">Novo Mesto</option>
							<option value="Brežice">Brežice</option>
							<option value="Celje">Celje</option>
							<option value="Slovenj Gradec">Slovenj Gradec</option>
							<option value="Kranj">Kranj</option>
							<option value="Postojna">Postojna</option>
							<option value="Ptuj">Ptuj</option>
							<option value="Murska Sobota">Murska Sobota</option>
							<option value="Trbovlje">Trbovlje</option>
						</select>
					</div>
					<div id="premikImePriimek">
						<label  class="imePriimekLabel">DATUM ROJSTVA:</label>
						<input type="date" name="lRoj" class="stiliInput" id="datumInput">
					</div>
				</div>

				<div class="forumOkvir">
					<div id="premikNaslov">
						<label class="naslovLabel">EMŠO:</label>
						<input type="text" name="EMSO" placeholder="0101006500006" class="stiliInput" id="EMSOInput">
					</div>
				</div>
				
				<div class="forumOkvir">
					<div id="premikNaslov">
						<label class="naslovLabel">NASLOV:</label>
						<input type="text" name="Nas" placeholder="Cesta v Staro vas 20" class="stiliInput" id="naslovInput" maxlength="30">
					</div>
				</div>
				
				<div class="forumOkvir">
					<div>
						<label class="krajLabel">PREBIVALIŠČE:</label>
						<input type="text" name="Kraj" placeholder="Postojna" class="stiliInput" id="krajInput" maxlength="20">
					</div>
					<div>
						<label class="posLabel">POŠTNA ŠTEVILKA:</label>
						<input type="text" name="Pos" placeholder="6230" class="stiliInput" id="inputKoda">
					</div>
				</div>
				<div class="forumOkvir" style="margin-bottom: 15px;">
					<div>
						<label class="telLabel">TELEFON:</label>
						<input type="text" name="Tel" placeholder="057-212-255" class="stiliInput" maxlength="12" id="telInput">
						<span id="preverjanjeSms">Validator</span>
					</div>
					<div>
						<label class="mailLabel">E-MAIL:</label>
						<input type="mail" name="Mail" placeholder="info@ahp.si" class="stiliInput" maxlength="30" id="mailInput">
					</div>
				</div>
				<div class="forumOkvir">
					<div>
						<label class="stanLabel">KJE STANUJETE:</label>
					</div>
					<div class="stiliInputRadio" id="radioInput">
						<input type="radio" name="zivi">
						<label class="spremembaRadio">HIŠA</label>
						<input type="radio" name="zivi">
						<label class="spremembaRadio">BLOK</label>
						<input type="radio" name="zivi">
						<label class="spremembaRadio">DRUGO</label>
					</div>
				</div>
				<div class="forumOkvir">
					<div>
						<input type="button" value="ODDAJ PRIJAVO" id="oddajPrijavo">
					</div>
				</div>
			</form>
		</div>
	</div>


	<script src="../js/skripteForma.js"></script>
</body>
</html>