* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: NaslovnicaVsebina;
	src: url(../fonts/Amatic_SC,Yatra_One/Amatic_SC/AmaticSC-Bold.ttf);
}
@font-face {
	font-family: Vsebina;
	src: url(../fonts/Amatic_SC,Yatra_One/Yatra_One/YatraOne-Regular.ttf);
}
@font-face {
	font-family: Vsebina2;
	src: url(../fonts/Krub/Krub-Medium.ttf);
}
@font-face {
	font-family: Vsebina3;
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

@media(max-width: 18000px){
	html, body {
		width: 100%;
		height: 100%;
		transition: 0.3s;
		position: absolute;
	}

	#naslov {
		color: black;
		font-family: NaslovnicaVsebina;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 45px;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		width: 30em;
		height: 30em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 20em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 23px;
		font-family: Vsebina3;
		display: flex;
		justify-content: center;
	}

	.centeriranjeDiv {
		width: 15em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 1em auto 2.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 15px;
	}

	#mailPassowrdDiv {
		margin-top: 3.5em;
		margin-bottom: 1.2em;
	}

	#prijava {
		width: 120px;
		height: 30px;
	}

	#ustvariRacun {
		width: 120px;
		height: 30px;
		user-select: none;
		cursor: not-allowed;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		opacity: 0.5 !important;
		font-weight: normal;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 4px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		color: #333333;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
		margin-left: 30px;
	}

	.gumbiPremik2 {
		display: inline;
		position: fixed;
		margin-left: 180px;
	}
}

@media(max-width: 1200px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
		transition: 0.3s;
	}

	#naslov {
		color: black;
		font-family: NaslovnicaVsebina;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 45px;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;
		border-radius: 25px;
		margin: auto;
		margin-top: 3.5%;
		margin-bottom: 3.5%;
		width: 30em;
		height: 30em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 20em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 30px;
		font-family: NaslovnicaVsebina;
		display: flex;
		justify-content: center;
		font-weight: bold;
	}

	.centeriranjeDiv {
		width: 15em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 1em auto 2.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 15px;
	}

	#mailPassowrdDiv {
		margin-top: 3.5em;
		margin-bottom: 1.2em;
	}

	#prijava {
		width: 120px;
		height: 30px;
	}

	#ustvariRacun {
		width: 120px;
		height: 30px;
		user-select: none;
		cursor: not-allowed;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		opacity: 0.5 !important;
		font-weight: normal;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 4px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		color: #333333;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
	}

	.gumbiPremik2 {
		display: inline;
		position: absolute;
	}
}

@media(max-width: 650px){
	html, body {
		width: 100%;
		height: 100%;
		transition: 0.3s;
		position: static;
	}

	#naslov {
		color: black;
		font-family: NaslovnicaVsebina;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 25px;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: auto;
		margin-top: 3.5%;
		margin-bottom: 3.5%;
		width: 15em;
		height: 17em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 10em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 18px;
		font-family: NaslovnicaVsebina;
		display: flex;
		justify-content: center;
		font-weight: bold;
		padding-top: 10px;
	}

	.centeriranjeDiv {
		width: 20em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 0.1em auto 0.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 7px;
	}

	#mailPassowrdDiv {
		margin-top: 2em;
		margin-bottom: 0.2em;
	}

	#prijava {
		width: 80px;
		height: 20px;
		font-size: 8px
	}

	#ustvariRacun {
		width: 80px;
		height: 20px;
		font-size: 8px;
		user-select: none;
		cursor: not-allowed;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		opacity: 0.5 !important;
		font-weight: normal;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 3px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		color: #333333;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
	}

	.gumbiPremik2 {
		display: inline;
		margin-left: 20px;
	}
}

/*Naredi da se forma prilagaja zoom-in in zoom-out*/

/*Gumb Prijava premakni z left-padding.
Gumb ustvari racun pa zmanjsaj umes kar je px*/