/*

	OSNOVNA KODA -----------------------------------

*/


* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: NaslovnicaVsebina;
	src: url(../fonts/Amatic_SC,Yatra_One/Amatic_SC/AmaticSC-Bold.ttf);
}
@font-face {
	font-family: NaslovnicaVsebinaBold;
	src: url(../fonts/Amatic_SC,Yatra_One/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
	font-family: Vsebina;
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
	font-family: Vsebina2;
	src: url(../fonts/Krub/Krub-Medium.ttf);
}
@font-face {
	font-family: h1Naslov;
	src: url(../fonts/Krub/Krub-Regular.ttf);
}

@media (max-width: 10000000px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 40px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 35px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 30%;
		height: 65%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 440px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 20px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 200px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 15px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 250px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 200px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 150px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;
	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 300px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: inline;
	}

	#zemljevid {
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: 20px 0 20px -50px;
		width: 400px;
		height: 300px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 18px;
		user-select: none;
	}

}



/*

	PONAVLJAJOCA KODA --------------------------------------------------------------------------------------------------------- 1

*/


@media (max-width: 1800px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 40px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 35px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 30%;
		height: 72%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 440px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 20px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 200px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 15px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 250px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 200px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 150px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;
	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 300px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: inline;
	}

	#zemljevid {
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: 20px 0px 50px 50px;
		width: 400px;
		height: 300px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 18px;
		user-select: none;
	}

}

/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 2

*/



/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 3

*/


@media (max-width: 1600px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 40px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 25px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 30%;
		height: 80%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 340px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 20px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 15px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;
	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 300px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: inline;
	}

	#zemljevid {
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: 20px 0px 50px -50px;
		width: 300px;
		height: 300px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 18px;
		user-select: none;
	}

}


/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 4

*/


@media (max-width: 1500px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 40px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 25px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 30%;
		height: 98%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 340px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 20px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 15px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;
	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 300px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: inline;
	}

	#zemljevid {
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: 20px 0px 50px -50px;
		width: 300px;
		height: 300px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 18px;
		user-select: none;
	}

}


/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 5

*/


@media (max-width: 1200px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 40px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 25px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 40%;
		height: 112%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 340px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 20px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 20px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 15px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 50px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;
	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 300px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: inline;
	}

	#zemljevid {
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: 100px 0px 50px -10px;
		width: 100px;
		height: 100px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 18px;
		user-select: none;
	}

}


/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 6

*/




/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 6

*/


@media (max-width: 1000px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 30px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 20px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 50%;
		height: 120%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 340px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 15px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 12px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 20px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 20px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 20px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
		font-size: 15px;font-size: 15px;
	}

	#mailLink {
		text-decoration: none;
		font-size: 15px;
	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 300px;
		font-size: 15px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: inline;
	}

	#zemljevid {
		border: none;
		width: 0px;
		height: 0px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 15px;
		user-select: none;
	}

}







/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 8

*/


@media (max-width: 800px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 30px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 20px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 60%;
		height: 150%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		display: flex;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 340px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 15px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 12px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
		display: flex;
	}

	.premikInfo {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 40px;
		font-family: Vsebina;
	}

	.premikOpis {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-left: 20px;
		font-family: Vsebina;
	}

	.premikSocials {
		display: flex;
		flex-direction: column;
		margin: auto 50px;
		margin-top: 95px;
		margin-left: 20px;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 200px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: flex;
	}

	#zemljevid {
		border: none;
		width: 0px;
		height: 0px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 15px;
		user-select: none;
	}

}




/*

	PONAVLJAJOCA KODA -------------------------------------------------------------------------------------------------------------------- 9

*/


@media (max-width: 700px){
	html, body {
		width: 100%;
		height: 100%;
		position: static;
	}

	h1 {
		color: black;
		font-family: h1Naslov;
		font-size: 30px;
		justify-content: center;
		display: flex;
		user-select: none;
	}

	h2 {
		color: black;
		font-family: Vsebina;
		font-weight: bold;
		font-size: 20px;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 15px;
	}

	/*zacetek velikih divov ------------------------------------*/

	.glava {
		background: #ffe7e7;
		border-bottom: solid #ff7575 10px;
		width: 100%;
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 30px;
		user-select: none;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;		
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 70%;
		height: 185%;
		padding: 1em;
		display: flex;
		justify-content: center;

	}

	.noga {
		background: #ffe7e7;
		border-top: solid #ff7575 10px;
		width: 100%;
		height: 350px;
		user-select: none;
	}

	/*konec velikih divov -------------------------------------------------------*/

	/*DIVI v znacki okvir ---------*/

	.forumOkvir{
		display: flex;
		justify-content: center;
	}

	#premikImePriimek{
		margin-left: 10px;
		display: inline-block;
	}

	.imePriimekLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#premikNaslov{
		margin-left: 10px;
		display: inline-block;
	}

	.naslovLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#EMSOInput{
		width: 220px;
	}

	#naslovInput{
		width: 340px;
	}

	.krajLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.posLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.telLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	#preverjanjeSms{
		font-family: Vsebina;
		display: block;
		user-select: none;
	}

	.mailLabel{
		font-family: Vsebina;
		font-size: 15px;
		display: block;
		margin-top: 5px;
		user-select: none;
	}

	.stanLabel{
		font-family: Vsebina;
		font-size: 15px;
		user-select: none;
		display: block;
		margin-top: 2px;
		margin-right: 61px;
	}

	.stiliInputRadio{
		width: 186px;
		height: 16px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		padding: 4px 4px 4px 4px;
		font-family: Vsebina;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.stiliInputRadio > label{
		flex: 1;
		padding-left: 5px;
	}

	#oddajPrijavo{
		margin-top: 20%;
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 16px;
	}

	#oddajPrijavo:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.stiliInput{
		width: 150px;
		height: 30px;
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px 30px 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 12px;
	}

	/*DIVI v znacki noga ---------*/

	#resizeDela{
		margin: 0 auto;
	}

	.premikInfo {
		display: inline-block;
		font-family: Vsebina;
	}

	.premikOpis {
		display: inline-block;
		font-family: Vsebina;
	}

	.premikSocials {
		display: inline-block;
		font-family: Vsebina;
	}

	/*unirvezalna znacka za nasloe v nogi ---------*/

	#naslov {
		font-family: Vsebina !important;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 25px;
	}

	/*znacke za v divu premikInfo ---------*/

	.tel {
		margin-bottom: 10px;
	}

	#mailLink {
		text-decoration: none;	}

	/*znacke za v divu premikOpis ---------*/

	#opis {
		width: 200px;
	}

	/*znacke za v divu premikSocials ---------*/

	#ikoneLinki {
		display: flex;
	}

	#zemljevid {
		border: none;
		width: 0px;
		height: 0px;
	}

	.pravice {
		height: 50px;
		background: #ff7575;
		display: flex;
		justify-content: center;
		align-items: center;
		font-faily: Vsebina;
		font-size: 15px;
		user-select: none;
	}

}