* {
	margin: 0;
	padding: 0;
	position: static;
}

@font-face {
	font-family: Vsebina;
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
	font-family: Vsebina2;
	src: url(../fonts/Krub/Krub-Medium.ttf);
}
html, body {
	width: 100%;
	height: 100%;
	position: static;
}
h1{
	color: black;
    font-family: Vsebina2;
    font-size: 2.5vw;
    justify-content: center;
    display: flex;
    user-select: none;
}
h2{
	color: black;
	font-family: Vsebina2;
	font-weight: bold;
	font-size: 1.5vw;
	justify-content: center;
	display: flex;
	user-select: none;
	margin-bottom: 0.5vw;
	margin-top: 1vw;
}
.my-title {
	font-family: Vsebina;
	color: black;
	user-select: none;
}

.my-text {
	font-family: Vsebina;
	color: black;
	user-select: none;
}

.my-confirm-button {
	border: solid #ff7575 4px;
	background: #ffc7ae;
	color: black;
	transition: 0.3s;
	font-family: Vsebina2;
}

.my-confirm-button:hover {
	background: #ff9f75;
	transition: 0.3s;
	font-weight: bold;
}

.my-denied-button {
	border: solid #ff7575 4px;
	background: #ffc7ae;
	color: black;
	transition: 0.3s;
	font-family: Vsebina2;
}

.my-denied-button:hover {
	background: #ff9f75;
	transition: 0.3s;
	font-weight: bold;
}


/*

	ZAČETEK @media in spreminnjanje rezolucije ------------------------------------------------------------

*/
@media only screen and (max-width: 599px){
	h2{
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		font-size: 2.5vw;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 0.5vw;
		margin-top: 1vw;
	}

	.glava {
		background: #ffe7e7;
	    border-bottom: solid #ff7575 0.5vw;
	    width: 100%;
	    height: 10vh;
	    max-height: 80px;
	    display: flex;
	    justify-content: center;
	    align-items: center;    
	    font-weight: bold;
	    font-size: 1.5vw;
	    max-font-size: 32px;    
	    user-select: none;
	    font-family: Vsebina2;
	}

	.mainOkvir{
		background: #ffe7e7;
	    border: solid #ff7575 0.5vw;      
	    border-radius: 2vw;
	    margin: auto;
	    margin-top: 2vh;
	    margin-bottom: 2vh;
	    width: 40vw;
	    max-width: 600px; /*max velikost za vecje displeje*/
	    padding-bottom: 2vh;
	    display: flex;
	    justify-content: center;
	    align-content: center;
	}

	.premikForum{
		display: flex;
		justify-content: center;
	}

	.urejenostDiv{
		padding-top: 0.1vw;
		display: inline-block;
	}

	label {
	    font-family: Vsebina;
	    font-size: 1.5vw;
	    display: block;
	    margin-top: 5px;
	    user-select: none;
	}

	.stiliInput {
		border: solid #ff7575 1px;
		background: #ffc7ae;
		border-radius: 5px;
		margin: 0 auto 5px auto;
		padding: 1px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 1.3vw;
	}

	#mailInput{
		width: 25vw;
	}

	#spremembaRadio {
	    display: flex;
	    align-items: center;
	    background: #ffc7ae;
	    border: solid #ff7575 1px;
	    border-radius: 5px;
	    padding-top: 0;
	    margin-top: 5px;
	}
	#spremembaRadio > label{
		display: flex;
	    align-items: center;
	    margin-right: 1vw;
	    margin-top: 1px;
	    font-size: 1.2vw;
	    cursor: pointer;
	    padding-left: 0.5vw;
	}
	input[type="radio"]{
		width: 8px;
		height: 8px;
	}

	.gumbSubmit {
		margin-top: 5%;
		margin-bottom: 5%;
		width: 15vw;
		height: 15px;
		border: solid #ff7575 1px;
		border-radius: 5px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 1.5vw;
	}
	.gumbSubmit:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	#preverjanjeSms {
		font-family: Vsebina;
		font-size: 1vw;
		display: block;
		user-select: none;
	}

}


/*

	PONAVLJAJOCA KODA --------------------------------------------------------------------------------------------------------- 

*/



@media only screen and (min-width: 600px) and (max-width: 899px){
	h2{
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		font-size: 2.3vw;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 0.5vw;
		margin-top: 1vw;
	}

	.glava {
		background: #ffe7e7;
	    border-bottom: solid #ff7575 0.5vw;
	    width: 100%;
	    height: 10vh;
	    max-height: 80px;
	    display: flex;
	    justify-content: center;
	    align-items: center;    
	    font-weight: bold;
	    font-size: 1.5vw;
	    max-font-size: 32px;    
	    user-select: none;
	    font-family: Vsebina2;
	}

	.mainOkvir{
		background: #ffe7e7;
	    border: solid #ff7575 0.5vw;      
	    border-radius: 2vw;
	    margin: auto;
	    margin-top: 2vh;
	    margin-bottom: 2vh;
	    width: 34vw;
	    max-width: 600px; /*max velikost za vecje displeje*/
	    padding-bottom: 2vh;
	    display: flex;
	    justify-content: center;
	    align-content: center;
	}

	.premikForum{
		display: flex;
		justify-content: center;
	}

	.urejenostDiv{
		padding-top: 0.5vw;
		display: inline-block;
	}

	label {
	    font-family: Vsebina;
	    font-size: 1.5vw;
	    display: block;
	    margin-top: 5px;
	    user-select: none;
	}

	.stiliInput {
		border: solid #ff7575 2px;
		background: #ffc7ae;
		border-radius: 5px;
		margin: 5px auto 5px auto;
		padding: 1px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 1.3vw;
	}

	#mailInput{
		width: 25vw;
	}

	#spremembaRadio {
	    display: flex;
	    align-items: center;
	    background: #ffc7ae;
	    border: solid #ff7575 2px;
	    border-radius: 5px;
	    padding-top: 0;
	}
	#spremembaRadio > label{
		display: flex;
	    align-items: center;
	    margin-right: 1vw;
	    margin-top: 1px;
	    font-size: 1.2vw;
	    cursor: pointer;
	    padding-left: 0.5vw;
	}
	input[type="radio"]{
		width: 8px;
		height: 8px;
	}

	.gumbSubmit {
		margin-top: 5%;
		margin-bottom: 5%;
		width: 15vw;
		height: 20px;
		border: solid #ff7575 2px;
		border-radius: 5px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 1.5vw;
	}
	.gumbSubmit:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	#preverjanjeSms {
		font-family: Vsebina;
		font-size: 1vw;
		display: block;
		user-select: none;
	}
}
	


/*

	PONAVLJAJOCA KODA --------------------------------------------------------------------------------------------------------- 1

*/



@media only screen and (min-width: 900px) and (max-width: 1199px){
	h2{
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		font-size: 2vw;
		justify-content: center;
		display: flex;
		user-select: none;
		margin-bottom: 0.5vw;
		margin-top: 1vw;
	}

	.glava {
		background: #ffe7e7;
	    border-bottom: solid #ff7575 0.5vw;
	    width: 100%;
	    height: 10vh;
	    max-height: 80px;
	    display: flex;
	    justify-content: center;
	    align-items: center;    
	    font-weight: bold;
	    font-size: 1.5vw;
	    max-font-size: 32px;    
	    user-select: none;
	    font-family: Vsebina2;
	}

	.mainOkvir{
		background: #ffe7e7;
	    border: solid #ff7575 0.5vw;      
	    border-radius: 2vw;
	    margin: auto;
	    margin-top: 2vh;
	    margin-bottom: 2vh;
	    width: 30vw;
	    max-width: 600px; /*max velikost za vecje displeje*/
	    padding-bottom: 2vh;
	    display: flex;
	    justify-content: center;
	    align-content: center;
	}

	.premikForum{
		display: flex;
		justify-content: center;
	}

	.urejenostDiv{
		padding-top: 0.5vw;
		display: inline-block;
	}

	label {
	    font-family: Vsebina;
	    font-size: 1vw;
	    display: block;
	    margin-top: 5px;
	    user-select: none;
	}

	.stiliInput {
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px auto 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 0.9vw;
	}

	#mailInput{
		width: 15vw;
	}

	#spremembaRadio {
	    display: flex;
	    align-items: center;
	    background: #ffc7ae;
	    border: solid #ff7575 3px;
	    border-radius: 10px;
	    padding-top: 0;
	}
	#spremembaRadio > label{
		display: flex;
	    align-items: center;
	    margin-right: 1vw;
	    font-size: 1vw;
	    cursor: pointer;
	    padding-left: 0.5vw;
	}

	.gumbSubmit {
		margin-top: 5%;
		margin-bottom: 5%;
		width: 10vw;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 1vw;
	}
	.gumbSubmit:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	#preverjanjeSms {
		font-family: Vsebina;
		font-size: 1vw;
		display: block;
		user-select: none;
	}
}




/*

	PONAVLJAJOCA KODA --------------------------------------------------------------------------------------------------------- 2

*/




@media only screen and (min-width: 1200px){
	.glava {
		background: #ffe7e7;
	    border-bottom: solid #ff7575 0.5vw;
	    width: 100%;
	    height: 10vh;
	    max-height: 80px;
	    display: flex;
	    justify-content: center;
	    align-items: center;    
	    font-weight: bold;
	    font-size: 1.5vw;
	    max-font-size: 32px;    
	    user-select: none;
	    font-family: Vsebina2;
	}

	.mainOkvir{
		background: #ffe7e7;
	    border: solid #ff7575 0.5vw;      
	    border-radius: 2vw;
	    margin: auto;
	    margin-top: 2vh;
	    margin-bottom: 2vh;
	    width: 27vw;
	    max-width: 600px; /*max velikost za vecje displeje*/
	    padding-bottom: 2vh;
	    display: flex;
	    justify-content: center;
	    align-content: center;
	}

	.premikForum{
		display: flex;
		justify-content: center;
	}

	.urejenostDiv{
		padding-top: 0.5vw;
		display: inline-block;
	}

	label {
	    font-family: Vsebina;
	    font-size: 1vw;
	    display: block;
	    margin-top: 5px;
	    user-select: none;
	}

	.stiliInput {
		border: solid #ff7575 3px;
		background: #ffc7ae;
		border-radius: 10px;
		margin: 10px auto 10px auto;
		padding: 4px 4px 4px 4px;
		box-sizing: border-box;
		font-family: Vsebina;
		font-size: 0.9vw;
	}

	#mailInput{
		width: 15vw;
	}

	#spremembaRadio {
	    display: flex;
	    align-items: center;
	    background: #ffc7ae;
	    border: solid #ff7575 3px;
	    border-radius: 10px;
	    padding-top: 0;
	}
	#spremembaRadio > label{
		display: flex;
	    align-items: center;
	    margin-right: 1vw;
	    font-size: 1vw;
	    cursor: pointer;
	    padding-left: 0.5vw;
	}

	.gumbSubmit {
		margin-top: 5%;
		margin-bottom: 5%;
		width: 10vw;
		height: 30px;
		border: solid #ff7575 3px;
		border-radius: 10px;
		background: #ffc7ae;
		transition: 0.3s;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 1vw;
	}
	.gumbSubmit:hover{
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	#preverjanjeSms {
		font-family: Vsebina;
		font-size: 0.8vw;
		display: block;
		user-select: none;
	}
}