* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Vsebina;
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
	font-family: Vsebina2;
	src: url(../fonts/Krub/Krub-Medium.ttf);
}

.my-title {
	font-family: Vsebina;
	color: black;
	user-select: none;
}

.my-text {
	font-family: Vsebina;
	color: black;
	user-select: none;
}

.my-confirm-button {
	border: solid #ff7575 4px;
	background: #ffc7ae;
	color: black;
	transition: 0.3s;
	font-family: Vsebina2;
}

.my-confirm-button:hover {
	background: #ff9f75;
	transition: 0.3s;
	font-weight: bold;
}

.my-denied-button {
	border: solid #ff7575 4px;
	background: #ffc7ae;
	color: black;
	transition: 0.3s;
	font-family: Vsebina2;
}

.my-denied-button:hover {
	background: #ff9f75;
	transition: 0.3s;
	font-weight: bold;
}

@media only screen and (min-width: 1200px){
	html, body {
		width: 100%;
	}

	#naslov {
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 31px;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 30em;
		height: 28em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 20em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 23px;
		font-family: Vsebina;
		display: flex;
		justify-content: center;
	}

	.centeriranjeDiv {
		width: 15em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 1em auto 2.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 15px;
	}

	#mailPassowrdDiv {
		margin-top: 3.5em;
		margin-bottom: 1.2em;
		display: flex;
		justify-content: center;
	}

	#prijava {
		width: 135px;
		height: 35px;
		cursor: pointer;
	}

	#ustvariRacun {
		width: 135px;
		height: 35px;
		cursor: pointer;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		font-weight: bold;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 4px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		font-size: 15px;
		color: #333333;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
		margin-right: 8vw;
	}

	.gumbiPremik2 {
		display: inline;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1199px){
	html, body {
		width: 100%;
	}

	#naslov {
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 3.2vw;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 10px;
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 30em;
		height: 30em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 20em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 2.7vw;
		font-family: Vsebina;
		display: flex;
		justify-content: center;
	}

	.centeriranjeDiv {
		width: 15em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 1em auto 2.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 15px;
	}

	#mailPassowrdDiv {
		margin-top: 3.5em;
		margin-bottom: 1.2em;
		display: flex;
		justify-content: center;
	}

	#prijava {
		width: 135px;
		height: 35px;
		cursor: pointer;
	}

	#ustvariRacun {
		width: 135px;
		height: 35px;
		cursor: pointer;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		font-weight: bold;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 4px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		color: #333333;
		font-size: 15px;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
		margin-right: 8vw;
	}

	.gumbiPremik2 {
		display: inline;
	}
}
@media only screen and (min-width: 600px) and (max-width: 899px){
	html, body {
		width: 100%;
	}

	#naslov {
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 2.5vw;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 15em;
		height: 17em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 10em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 2vw;
		font-family: Vsebina;
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}

	.centeriranjeDiv {
		width: 20em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 0.1em auto 0.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 7px;
	}

	#mailPassowrdDiv {
		margin-top: 2em;
		margin-bottom: 0.2em;
		display: flex;
		justify-content: center;
	}

	#prijava {
		width: 70px;
		height: 25px;
		cursor: pointer;
	}

	#ustvariRacun {
		width: 70px;
		height: 25px;
		cursor: pointer;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		font-weight: bold;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 3px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		color: #333333;
		font-size: 7px;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
		margin-right: 8vw;
	}

	.gumbiPremik2 {
		display: inline;
	}
}

@media only screen and (max-width: 599px){
	html, body {
		width: 100%;
	}

	#naslov {
		color: black;
		font-family: Vsebina2;
		font-weight: bold;
		justify-content: center;
		display: flex;
		font-size: 4vw;
		margin-bottom: 0.3em;
		text-align: center;
		user-select: none;
	}

	label {
		user-select: none;
	}

	input[type=email], input[type=password] {
		padding: 1%;
		text-align: center;
		font-weight: bold;
		font-family: Vsebina2;
	}

	.okvir {
		background: #ffe7e7;
		border: solid #ff7575 5px;
		border-radius: 25px;
		margin: auto;
		margin-top: 7.5%;
		margin-bottom: 7.5%;
		width: 15em;
		height: 17em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#dimenzijeMail {
		width: 10em;
		margin: auto auto;
	}

	.naziviVnosov {
		font-size: 3.5vw;
		font-family: Vsebina;
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}

	.centeriranjeDiv {
		width: 20em;
		height: 3em;
		border: solid #ff7575 3px;
		border-radius: 10px;
		margin: 0.1em auto 0.5em auto;
		display: flex;
		background: #ffc7ae;
		box-sizing: border-box;
		font-size: 7px;
	}

	#mailPassowrdDiv {
		margin-top: 2em;
		margin-bottom: 0.2em;
		display: flex;
		justify-content: center;
	}

	#prijava {
		width: 15vw;
		height: 4vw;
		font-size: 1.4vw;
		cursor: pointer;
	}

	#ustvariRacun {
		width: 15vw;
		height: 4vw;
		font-size: 1.4vw;
		cursor: pointer;
	}

	#ustvariRacun:hover {
		transition: 0.3s !important;
		font-weight: bold;
	}

	.gumb a{
		text-decoration: none;
		color: black;
	}

	.gumb {
		transition: 0.3s;
		background: #ffc7ae;
		border: solid #ff7575 3px;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: Vsebina2;
		color: #333333;
	}

	.gumb:hover {
		transition: 0.3s;
		background: #ff9f75;
		font-weight: bold;
		color: black;
	}

	.gumbiPremik {
		display: inline;
		margin-right: 8vw;
	}

	.gumbiPremik2 {
		display: inline;
	}
}